
.users-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin: 19px 0 10px 31px;
}

.user-item{
    width: 420px;
    height: 73px;
    margin: 10px 59px 10px 31px;
    box-shadow: none;
    border-radius: 8px;
    background-color: #F3F3F3 ;
    
}

.user-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userblock{
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    padding: 9px 0 10px 10px;
}

.userblock-info{
    font-family: 'Roboto';
    font-style: normal; 
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}

.userblock-ref{

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    padding: 10px 10px;
}

.profile-ref{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #4B51EF;
    text-decoration: none;
}

.users-number{
    display: flex;
    align-items: end;
    justify-content: end;
    margin: 10px 59px 25px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}