.panelcontainer{
    width: 152px;
    height: 1028px;
    background-color: #BDBDBD;
}

.panel-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding: 35.17px 0 0 20.27px;
}

.panel-buttons-group{
    padding: 10.05px 0 0 20px ;
}

.panel-buttons-group__button_city{
    margin-top: 10.05px;
    width: 86.13px;
    height: 24.12px;
    background-color: #4B51EF;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px ;
    line-height: 14px ;
    color: #FFFFFF;
}

.panel-buttons-group__button_company{
    margin-top: 10.05px;
    width: 105.39px;
    height: 24.12px;
    border: none;
    background-color: #4B51EF;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF ;

}