.panelcontainer{
    width: 152px;
    height: 1028px;
    background-color: #BDBDBD;
    /* position: relative; */
}

.panel-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.panel-buttons-group{
    /* position: absolute !important; */
    padding: 10px 0 0 0;
    /* margin-left: 10px; */

}

.button-city{
    width: 86.13px;
    height: 24.12px;
    background-color: #4B51EF !important;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.button-company{
    width: 105.39px;
    height: 24.12px;
    background-color: #4B51EF !important;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;

}